html {
  min-height: 100%;
  /*background: pink;*/
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  /*background: yellow;*/
  box-sizing: border-box;
  margin: 0;
  color: #233D4D;
  font-size: 16px;
}

/* helper classes */
.vertical-align {
  /* set the parent element to display:table */
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.ff-mock-header {
  min-height: 62px; /* same as in wp theme */
  padding: 0.5em 0 0.5em 0; /* ditto */
  width: 100%;
  /*background: red;*/
  text-align: center;
  font-size: 3em;
  color: black;
  display: table;
}

.ff-mock-nav {
  min-width: 100%;
  background: #f25f70;
  font-size: 1.5em;
  text-align: center;
  padding: 0.25em 0; /**/
  height: 48px;
  display: table;
 }

.ff-mock-nav > a {
  padding: 0.75em 1em 0.75em 0;
}

.ff-fp-section {
  height: 800px; /* fallback */
  height: 100vh;
  border-top: black solid 1px;
  /*background: orange;*/
  text-align: center;
  width: 100%;
  display: table;
}

.ff-fp-section__inner {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.ff-fp-banner {
  max-height: 70vh;
  background: url('../ff-home-banner.jpg') no-repeat fixed;
  background-size: cover;
}

.ff-fp-banner__opacity {
  height: 100%;
  width: 100%;
  background: rgba(131, 127, 132, 0.3);
  display: table;
}

.ff-fp-banner__inner {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.ff-fp-banner__heading {
  font-size: 4em;
  margin-top: 0;
  color: #fff;
}

.ff-fp-banner__blurb {
  font-size: 1.75em;
  color: #fff;
}
