html {
  min-height: 100%;
  /*background: pink;*/
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  /*background: yellow;*/
  box-sizing: border-box;
  margin: 0;
  color: #233D4D;
  font-size: 16px;
}

/* helper classes */
.vertical-align {
  /* set the parent element to display:table */
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

/* header */

.fixed-header {
  position: fixed;
  margin-top: 0;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  /*margin-bottom: 0;*/
}

.ff-mock-header {
  min-height: 62px; /* same as in wp theme */
  padding: 0.5em 0 0.5em 0; /* ditto */
  width: 100%;
  /*background: red;*/
  text-align: center;
  font-size: 3em;
  color: black;
  display: table;
}

/* nav */
.ff-mock-nav {
  min-width: 100%;
  background: #f25f70;
  font-size: 1.5em;
  text-align: center;
  padding: 0.25em 0; /**/
  height: 48px;
  display: table;
 }

.ff-mock-nav > a {
  padding: 0.75em 1em 0.75em 0;
}

/* front page section setup */
.ff-fp-section {
  height: 800px; /* fallback */
  height: 100vh;
  width: 100%;
  border-top: black solid 1px;
  /*background: orange;*/
  text-align: center;
  display: table;
}

.ff-fp-section__inner {
  width: 80%;
  height: 100%;
  /*background: purple;*/
  display: table;
  margin: 0 auto;
}

.ff-fp-section__content-container {
  display: table-cell;
  vertical-align: middle;
}

/* front page banner */
.ff-fp-banner {
  height: 80vh;
  width: 100%;
  background: url('../ff-home-banner.jpg') no-repeat fixed;
  background-size: cover;
  margin-top: 170px;
}

.ff-fp-banner__opacity {
  height: 100%;
  width: 100%;
  background: rgba(131, 127, 132, 0.3);
}

.ff-fp-banner__inner {
  width: 80%;
  height: 100%;
  /*background: purple;*/
  display: table;
  margin: 0 auto;
}

.ff-fp-banner__content-container {
  display: table-cell;
  vertical-align: middle;
}

.ff-fp-banner__heading {
  font-size: 4em;
  margin-top: 0;
  color: #fff;
}

.ff-fp-banner__blurb {
  font-size: 1.75em;
  color: #fff;
}

/* front page testimonials section */
.ff-fp-testimonial {
  width: 45%;
  height: auto;
  min-height: 15em;
  background: yellow;
  display: inline-block;
  font-size: 16px;
  margin: 0.5em;
}

.test {
  font-size: 0;
}


/* CONTACT FORM SECTION */
/* ========================================================================= */
.ff-fp-contact-form__container {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
}

.ff-fp-contact-form__header {
  font-size: 2em;
}
.ff-fp-contact-form__input,
.ff-fp-contact-form__label,
.ff-fp-contact-form__submit {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.ff-fp-contact-form__input,
.ff-fp-contact-form__label {
  display: block;
  width: 100%;
}

.ff-fp-contact-form__input {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  border: 1px solid;
  border-radius: 0;
  -webkit-appearance: none; /* Removes weird inner shadow on iOS Safari */
}

.ff-fp-contact-form__input:focus,
.ff-fp-contact-form__submit:focus,
.ff-fp-contact-form__submit:hover {
  outline: none;
  color: white;
  background-color: #5973BF;
  border-color: #5973BF;
}

#message {
  min-height: 10em;
}

.ff-fp-contact-form__submit {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0.75em;
  font-size: 1.25em;
  background: none;
  border: 1px solid;
  transition: all 0.2s;
}
